/*==========  Bootstrap  ==========*/
@import 'base.less';

/*==========  Global  ==========*/
html{
	height: 100%;
}
body {
	font-weight: 300;
	height: 100%;
}


/*==========  Sign In  ==========*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-control {
    margin-bottom: 10px
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*==========  Transactions  ==========*/
.credit {
  color: @brand-danger;
  font-weight: bold;
}

.debit {
  color: @brand-success;
  font-weight: bold;
}

.select-arrow {
  background: #ECECEC;

  .gradient(#EFEFEF, #DFDFDF);

  border: 1px solid #AAA;
  box-shadow: 0 0 1px #AAA;
  display: inline-block;
  padding: 0 5px;
  .border-radius(2px);

  &:hover,
  &:focus {
    .gradient(#DFDFDF, #EFEFEF);
  }

  &:active {
    background: #DFDFDF;
  }

  .caret {
      color: #5C5C5C;
      margin-left: 0;
      border-width: 5px;
  }
}